.icon-48-temass {
      background-image: url(../images/l_temass.png);
      padding-left:60px!important;
}

.icon-48-temas {
      background-image: url(../images/l_temass.png);
      padding-left:60px!important;
}

.icon-48-licks {
      background-image: url(../images/l_licks.png);
      padding-left:60px!important;
}

.icon-48-lick {
      background-image: url(../images/l_licks.png);
      padding-left:60px!important;
}

.icon-48-compinglicks {
      background-image: url(../images/l_compinglicks.png);
      padding-left:60px!important;
}

.icon-48-compinglick {
      background-image: url(../images/l_compinglicks.png);
      padding-left:60px!important;
}

.icon-48-modos {
      background-image: url(../images/l_modos.png);
      padding-left:60px!important;
}

.icon-48-modo {
      background-image: url(../images/l_modos.png);
      padding-left:60px!important;
}

.icon-48-cadencias {
      background-image: url(../images/l_cadencias.png);
      padding-left:60px!important;
}

.icon-48-cadencia {
      background-image: url(../images/l_cadencias.png);
      padding-left:60px!important;
}

.icon-48-tempos {
      background-image: url(../images/l_tempos.png);
      padding-left:60px!important;
}

.icon-48-tempo {
      background-image: url(../images/l_tempos.png);
      padding-left:60px!important;
}

.icon-48-estilos {
      background-image: url(../images/l_estilos.png);
      padding-left:60px!important;
}

.icon-48-estilo {
      background-image: url(../images/l_estilos.png);
      padding-left:60px!important;
}

.icon-48-numdecompaseslicks {
      background-image: url(../images/l_numdecompaseslicks.png);
      padding-left:60px!important;
}

.icon-48-numdecompaseslick {
      background-image: url(../images/l_numdecompaseslicks.png);
      padding-left:60px!important;
}

.icon-48-tonalidades {
      background-image: url(../images/l_tonalidades.png);
      padding-left:60px!important;
}

.icon-48-tonalidad {
      background-image: url(../images/l_tonalidades.png);
      padding-left:60px!important;
}

.icon-48-imglicks {
      background-image: url(../images/l_imglicks.png);
      padding-left:60px!important;
}

.icon-48-imglick {
      background-image: url(../images/l_imglicks.png);
      padding-left:60px!important;
}

.icon-48-lickautors {
      background-image: url(../images/l_lickautors.png);
      padding-left:60px!important;
}

.icon-48-lickautor {
      background-image: url(../images/l_lickautors.png);
      padding-left:60px!important;
}

.icon-48-licktypes {
      background-image: url(../images/l_licktypes.png);
      padding-left:60px!important;
}

.icon-48-licktype {
      background-image: url(../images/l_licktypes.png);
      padding-left:60px!important;
}

